<main>
  <article class="hour-minute">
    <span class="hour">Am 12 : </span>
    <span class="minute">12</span>
  </article>
  <article class="seconds">
    <section class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated colored"></div>
    </section>
    <span class="second">30</span>
    <section class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated colored"></div>
    </section>
  </article>
  <article class="date-value">
    <span class="month">Jan </span>
    <span class="day">27,</span>
    <span class="year"> 1998</span>
  </article>
</main>
