$navColor: #4b77f2;

@mixin font-size($max, $min) {
  font-size: $min;

  @media(min-width: 991.98px) {
    font-size: $max;
  }
}

.navbar {
  background: $navColor;
  border-radius: 0px 0px 10px 10px;
}

.navbar-brand {
  color: #fff;
  @include font-size(3.5vw, 7vw);
  font-weight: bold;
}

.navbar-toggler {
  color: #fff;
  /*font-size: 5vw;*/
}

.collapse {
  @media(min-width: 991.98px) {
    display: flex;
    justify-content: flex-end;
  }
}

.navbar-nav {
  margin-top: 15px;
  text-align: center;

  .nav-link {
    color: #fff - #222;
    @include font-size(1.7vw, 4vw);

    &:not(.active):hover {
      color: #fff;
    }

    &.active {
      color: #fff;
      font-weight: bold;
    }
  }
}
