<!--The content below is only a placeholder and can be replaced.-->
<div class="overlay"></div>

<nav class="navbar navbar-expand-lg wow bounceIn">
  <a href="#" class="navbar-brand">Clock App</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar"><i class="fas fa-bars"></i></button>
  <section class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav">
      <li class="nav-item"><a routerLink="/clock" routerLinkActive="active" class="nav-link">Clock</a></li>
      <li class="nav-item"><a routerLink="/timer" routerLinkActive="active" class="nav-link">Timer</a></li>
      <li class="nav-item"><a routerLink="/stopwatch" routerLinkActive="active" class="nav-link">Stop Watch</a></li>
    </ul>
  </section>
</nav>

<article class="foot">
  Copyrights &copy; Reserved to Shehab Nagy
</article>

<article [@routeAnimation]="o.isActivated ? o.activatedRoute : ''" class="container main">
  <router-outlet #o="outlet"></router-outlet>
</article>


