$navColor: #4b77f2;

@mixin font-size($max, $min) {
  font-size: $min;

  @media(min-width: 991.98px) {
    font-size: $max;
  }
}

@mixin margin-bottom($max, $min) {
  margin-bottom: $min;

  @media(min-width: 991.98px) {
    margin-bottom: $max;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ddd;
}

.navbar {
  background: $navColor;
  border-radius: 0px 0px 10px 10px;
  margin: 0 auto;
  @include margin-bottom(14vh, 17vh);
  width: 85%;
}

.navbar-brand {
  color: #fff;
  @include font-size(40px, 30px);
  font-weight: bold;
}

.navbar-toggler {
  color: #fff;
}

.collapse {
  @media(min-width: 991.98px) {
    display: flex;
    justify-content: flex-end;
  }
}

.navbar-nav {
  margin-top: 15px;
  text-align: center;

  .nav-link {
    color: #fff - #222;
    @include font-size(22px, 17px);

    &:not(.active):hover {
      color: #fff;
    }

    &.active {
      color: #fff;
      font-weight: bold;
    }
  }
}

.foot {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: $navColor;
  width: 85%;
  color: #fff;
  padding: 10px;
  @include font-size(15px, 12px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px 10px 0 0;
}

.main {position: relative;}

